@font-face {
    font-family: Montserrat-Black;
    src: url(./fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-BlackItalic;
    src: url(./fonts/Montserrat-BlackItalic.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(./fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-BoldItalic;
    src: url(./fonts/Montserrat-BoldItalic.ttf);
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(./fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: Montserrat-ExtraBoldItalic;
    src: url(./fonts/Montserrat-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(./fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: Montserrat-ExtraLightItalic;
    src: url(./fonts/Montserrat-ExtraLightItalic.ttf);
}

@font-face {
    font-family: Montserrat-Italic;
    src: url(./fonts/Montserrat-Italic.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(./fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat-LightItalic;
    src: url(./fonts/Montserrat-LightItalic.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-MediumItalic;
    src: url(./fonts/Montserrat-MediumItalic.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(./fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-SemiBoldItalic;
    src: url(./fonts/Montserrat-SemiBoldItalic.ttf);
}

@font-face {
    font-family: Montserrat-Thin;
    src: url(./fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: Montserrat-ThinItalic;
    src: url(./fonts/Montserrat-ThinItalic.ttf);
}

*, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat-Medium, sans-serif;
}

:root {
    --darker-color: #11161a;
    --dark-color: #161d22;
    --medium-color: #1d262d;
    --primary-color: #43dde6;
    --secondary-color: #dfffff;
    --tertiary-color: #f0f0f0;
    --h2-size: 1.5em;
    --h3-size: 1em;
    --section-margin: 2em 0 0 0;
}

:target::before, #skillset::before, #experience::before, #recent-work::before, #contact::before {
    content: "";
    display: block;
    height: 80px;
    margin: -80px 0 0;
}

body {
    background-color: #eeeeee;
}

/* Navigation */

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    display: none;
}

.top-bar .top-bar-left, .top-bar .top-bar-right {
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
    max-width: initial;
}

nav, .top-bar, .top-bar ul {
    background: unset;
    color: white;
    padding: unset;
}

nav {
    position: fixed;
    z-index: 999999;
    width: 100%;
}

nav {
    background: rgb(17, 22, 26);
}

#main-nav li>a {
    color: white;
    padding: 2em 1em;
    min-height: min-content;
}

#main-nav li>a#cme {
    color: var(--primary-color);
}

#main-nav li>a:hover {
    background-color: var(--dark-color);
}

.menu .menu-text {
    font-weight: unset;
}

.menu .menu-text.site-title {
    font-size: 26px;
    padding: inherit;
}

.menu .menu-text.site-subtitle {
    line-height: 26px;
    color: var(--primary-color);
    text-transform: uppercase;
}

.menu .menu-text.site-title a {
    color: white;
    text-transform: lowercase;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a.menu-burger {
    color: white;
    padding-right: unset;
    padding: 0;
    font-size: 1.25em;
    box-sizing: initial;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a.menu-burger>svg {
    padding: 1em;
    width: 1em;
}

/* Header */

header .cell.info, header .cell.contact {
    padding: 0;
    position: relative;
}

header .cell.info {
    color: white;
}

header .cell.info h1 {
    font-size: calc(25px + (49.8 - 18.48) * ((100vw - 640px) / (1920 - 640)));
    text-align: left;
    line-height: 1;
    font-size: 6em;
    font-family: Montserrat-Bold;
}

header .cell.info h1>span {
    font-family: Montserrat-Bold, sans-serif;
    display: block;
    margin-bottom: 0.2em;
}

header .cell.info h2 {
    font-size: 1.5em;
    color: var(--primary-color);
    text-align: left;
    margin-top: 1em;
}

header .cell.info em {
    color: var(--primary-color);
    font-style: unset;
}

header .cell.contact em {
    font-style: unset;
}

header .cell.contact {
    color: black;
    background-color: var(--primary-color);
}

header .arrow-right {
    display: block;
    background-color: var(--primary-color);
    width: 100px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
}

header .cell.contact .arrow-right {
    background-color: white;
}

header .arrow-right:after {
    content: '';
    background-image: url(./img/arrow-right.svg);
    background-repeat: no-repeat;
    width: 125px;
    height: 2em;
    display: block;
    position: absolute;
    right: 0;
    bottom: 2.5px;
}

.is-dropdown-submenu {
    border: none;
}

ul.menu.vertical.submenu.is-dropdown-submenu.first-sub {
    width: 100%;
    z-index: 9999;
    background: var(--darker-color);
    right: 0;
}

li.is-submenu-item.is-dropdown-submenu-item>a {
    color: white;
    font-size: var(--h3-size);
    padding: 1.5em;
    line-height: 1.5;
    border-bottom: 1px solid #1d262d;
}

li.is-submenu-item.is-dropdown-submenu-item:last-child>a {
    border-bottom: none;
}

li.is-submenu-item.is-dropdown-submenu-item>a:hover {
    background: var(--primary-color);
    color: black;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a.menu-burger:hover {
    background: var(--primary-color);
}

.dropdown.menu>li.is-dropdown-submenu-parent>a.menu-burger:hover>svg>path {
    fill: black;
}

/* Utility Nav (Mobile Only) */

section.utility-nav {
    position: fixed;
    bottom: 0;
    z-index: 999999;
    padding: 0;
    background-color: white;
    max-height: 5em;
    width: 100%;
}

section.utility-nav a {
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
}

section.utility-nav img {
    max-width: 2em;
    margin: .5em 0;
    opacity: 1;
}

section.utility-nav a span {
    display: block;
    font-size: .8em;
    font-family: Montserrat-SemiBold;
    color: black;
    margin-bottom: .5em;
}

section.utility-nav div.small-3 {
    border-right: 2px solid rgba(152, 182, 184, 0.3);
    border-top: 2px solid rgba(152, 182, 184, 0.3);
}

section.utility-nav div.small-3:last-child {
    border-right: none;
}

/* Sections */

.container {
    width: 100%;
    background: white;
    position: relative;
}

section {
    padding: var(--section-margin);
    position: relative;
    background: white;
    padding: 5em 0;
}

#skillset, #experience, #recent-work, #contact {
    font-weight: 600;
    font-family: Montserrat-Bold, sans-serif;
    display: block;
    margin: 0 0 1em;
    padding-bottom: .5em;
    text-align: left;
    font-size: 2.5em;
    line-height: 1;
    position: relative;
}

#skillset::after, #experience::after, #recent-work::after, #contact::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1em;
    height: 3px;
    background-color: var(--primary-color);
}

section.experience {
    background: var(--medium-color);
}

section.experience h2 {
    color: white;
}

section>h3 {
    font-size: var(--h3-size);
    text-transform: uppercase;
    color: #666666;
}

/* Curriculum Vitae */

.grid-container.main {
    background: white;
    padding: 0 2em;
    overflow: hidden;
}

.languages, .tools, .cms {
    background: white;
    position: relative;
    padding: 2em;
    background: var(--tertiary-color);
    color: black;
    margin-top: 1em;
}

.languages h2, .tools h2, .cms h2 {
    font-size: var(--h2-size);
    width: calc(100% - 100px);
    line-height: 1.25;
    margin-bottom: 0;
    font-weight: 600;
    font-family: Montserrat-Bold, sans-serif;
    padding-bottom: 1em;
    position: relative;
    margin: 0;
}

img.skill-icon {
    position: absolute;
    opacity: 1;
    top: -3em;
    right: 0;
    width: 120px;
}

ul.skill-list {
    font-size: 1em;
    columns: 2;
    -webkit-columns: 2;
    column-gap: 2em;
    font-weight: 300;
}

ul.skill-list li {
    line-height: 1.25;
    margin-bottom: .5em;
}

/* Experience */

.experience .grid-x {
    background-color: var(--darker-color);
    margin-top: 2em;
}

ul#experience-tabs li h2 {
    color: white;
    font-size: 1em;
    line-height: 3em;
    padding: 1em 1.5em;
    margin: inherit;
}

ul#experience-tabs {
    background-color: var(--medium-color);
    border: none;
}

ul#experience-tabs {
    background-color: var(--medium-color);
    min-height: 500px;
}

.tabs-title>a {
    padding: 1em 1.5em;
    font-size: 1em;
    color: white;
    font-weight: 300;
    outline: none;
    transition: 0.5s ease;
}

.tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
    background: var(--darker-color);
    color: white;
}

.tabs-title>a:hover {
    background: var(--dark-color);
    color: white;
}

.tabs-title.is-active>a:hover {
    background-color: var(--darker-color);
    color: white;
}

.tabs-content, .tabs-content.vertical {
    background: none;
    border: none;
    color: white;
}

.tab-nav {
    padding: 1em 1.5em;
    background: var(--darker-color);
    color: #33434f;
}

.tab-nav a {
    color: white;
    font-size: 1em;
    font-weight: 300;
    line-height: 3em;
    margin: 0 .5em;
}

.tab-nav a:hover {
    border-bottom: 1px solid;
}

.tabs-title a.note:after {
    content: '*';
    color: var(--primary-color);
    margin-left: 5px;
    vertical-align: super;
    font-size: xx-small;
}

.tabs-panel {
    padding: 0 2em;
}

p.lbl.dates {
    margin-top: 1em;
}

p {
    font-size: 1em;
}

.note-txt {
    color: #9b9b9b;
    padding: 1em 1.5em;
    background: var(--medium-color);
    font-size: 85%;
    line-height: 3em;
}

.note-txt em {
    color: var(--primary-color);
    font-style: initial;
    vertical-align: super;
    font-size: xx-small;
}

.download-links {
    border-top: 2px solid var(--medium-color);
    color: white;
    text-align: right;
}

.download-links a {
    color: white;
    padding: 1.5em;
    display: inline-block;
}

.download-links a img {
    width: 1.5em;
    margin-right: .5em;
}

.download-links a.doc-link {
    border-right: 2px solid #111111;
}

.experience-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 5.5fr .5fr;
    grid-template-areas: "." "." ".";
}

h3.company-name {
    margin-bottom: unset;
    font-size: 1.5em;
}

.tabs-panel .lbl {
    padding-left: 85px;
    position: relative;
    margin-bottom: 1.5em;
}

.tabs-panel .lbl a {
    color: var(--primary-color);
    text-decoration: underline;
    margin: 0 .5em;
}

.tabs-panel .lbl:before {
    content: '';
    position: absolute;
    left: 0;
    min-width: 65px;
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: right;
    font-size: 85%;
    line-height: 2;
}

.lbl.dates:before {
    content: 'Dates:'
}

.lbl.status:before {
    content: 'Status:'
}

.lbl.job-title:before {
    content: 'Title:'
}

.lbl.duties:before {
    content: 'Duties:'
}

/* Video Background */

.video-bg {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 20px;
    margin: inherit;
}

.video-bg .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black url('./img/blurred-video-backup.png') no-repeat center center/cover;
}

.video-bg .video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: grayscale(.8);
    position: fixed;
}

.video-bg .video-container:after {
    content: '';
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 22, 26, .5);
    position: absolute;
}

.video-bg a#scroll-cta {
    position: absolute;
    bottom: 2em;
    left: calc(50% - 22px);
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 500 1em/1 Montserrat-Medium, sans-serif;
    /* letter-spacing: .1em; */
    text-decoration: none;
    transition: opacity .3s;
}

.video-bg a#scroll-cta:hover {
    opacity: .5;
}

.video-bg a#scroll-cta {
    padding-top: 4em;
}

.video-bg a#scroll-cta span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}

.video-bg a#scroll-cta span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 10px;
    height: 10px;
    margin-left: -5px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: scroll-down-circle 2s infinite;
    animation: scroll-down-circle 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes scroll-down-circle {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scroll-down-circle {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.video-bg .content {
    z-index: 2;
}

/* Portfolio */

section.skillset, section.experience, section.portfolio, section.contact {
    padding-bottom: 5em;
}

div.port {
    margin-top: 2em;
}

.port>.port-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 200px);
    grid-gap: 2rem;
    grid-auto-flow: dense;
    list-style-type: none;
    margin-left: unset;
}

.port>.port-list>li {
    position: relative;
}

.port>.port-list>li>figure {
    height: 100%;
    background: var(--tertiary-color);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0);
}

.port>.port-list>li>figure>.port-txt {
    width: 100%;
    padding: 2em;
    color: black;
    position: relative;
    z-index: 999;
}

.port>.port-list>li>figure>.port-txt>h3 {
    font-size: 1.5em;
    line-height: 1.25;
}

.port>.port-list>li>figure>.port-txt>img.arrow {
    max-width: 75px;
    margin-top: 2em;
}

.port>.port-list>li:hover>figure {
    background: white;
    border: 2px solid rgba(0, 0, 0, 1);
    border: 2px solid var(--primary-color);
}

.port>.port-list>li:hover>figure a {
    color: black;
}

.port>.port-list>li:hover>figure a img.arrow {
    filter: inherit;
}

/* Contact Form */

section.contact-form {
    position: relative;
    background-color: var(--tertiary-color);
}

section.contact-form form {
    z-index: 99999;
    position: relative;
}

.side-contact {
    text-align: center
}

.side-contact img {
    max-width: 10em;
    margin-bottom: 2em;
    opacity: .15;
}

.side-contact p {
    line-height: 1;
    margin-bottom: .3em;
}

.side-contact p a {
    font-size: 2em;
    color: var(--medium-color);
}

section.contact-form input[type=text], section.contact-form input[type=email], section.contact-form textarea {
    border: 1px solid #ddd;
    border-color: white;
    box-shadow: none;
}

section.contact-form input[type=text]:focus, section.contact-form input[type=email]:focus, section.contact-form textarea:focus {
    border-color: var(--darker-color);
    box-shadow: inset 2px 2px 2px 0px rgba(17, 22, 26, .15);
}

section.contact-form::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./img/email.svg);
    background-repeat: no-repeat;
    background-position: right;
    opacity: .025;
}

.reason-contact {
    border-bottom: 2px solid rgba(17, 22, 26, .1);
    padding-bottom: .5em;
    margin-bottom: 1em;
}

input#fname, input#lname {
    text-transform: capitalize;
}

input#phone, input#email {
    margin: 0;
}

label>span.form-example {
    font-size: .9em;
    color: #9ea3a7;
    margin-bottom: 1em;
    display: block;
}

button#send-message {
    width: 100%;
    padding: .8em;
    margin-top: 1em;
    font-size: 1.25em;
    background-color: var(--primary-color);
}

/* Footer */

footer.grid-container-fluid {
    display: block;
    background: var(--darker-color);
    position: relative;
}

footer.grid-container-fluid>div {
    text-align: center;
}

footer ul.footer-links {
    margin: 0;
    padding: 2em 0;
}

footer ul.footer-links li {
    display: inline-block;
    color: white;
}

footer ul.footer-links li a {
    padding: 1.5em 2em;
    display: block;
    font-size: 1.25em;
    color: white;
}

footer.grid-container-fluid>div>p {
    color: #ccc;
    margin: 0;
    text-align: center;
    padding: 0 0 3em 0;
    font-size: .75em;
    letter-spacing: .5px;
}

@media screen and (max-width: 64em) {
    :target::before, #skillset::before, #experience::before, #recent-work::before, #contact::before {
        content: "";
        display: block;
        height: 60px;
        margin: -60px 0 0;
    }
    .video-bg {
        height: calc(100vh - 74px);
    }
    .menu .menu-text.site-title a {
        font-size: 0.8em;
    }
    header .cell.info h1 {
        font-size: 12vw;
        text-align: left;
    }
    header .cell.info h1>span {
        font-size: 100%;
        margin-bottom: .3em;
        display: block;
    }
    header .cell.info h2 {
        font-size: 3.5vw;
        text-align: left;
    }
    .video-bg a#scroll-cta {
        transform: translate(0, -20%);
    }
    .video-bg a#scroll-cta span {
        width: 30px;
        height: 50px;
        border-radius: 5px;
    }
    .video-bg a#scroll-cta span::before {
        -webkit-animation: scroll-down-circle 2s infinite;
        animation: scroll-down-circle 2s infinite;
        animation-direction: reverse;
    }
    .grid-container.main {
        padding: 0 1em;
    }
    .tabs-panel .lbl {
        padding-left: 0;
    }
    .tabs-panel .lbl:before {
        position: relative;
        left: 0;
        min-width: 75px;
        color: var(--primary-color);
        text-transform: uppercase;
        text-align: left;
        margin-right: 10px;
    }
    .languages, .tools, .cms {
        padding: 1.5em;
        margin: .5em 1em;
    }
    .video-bg:after {
        width: 75px;
        height: 75px;
    }
    .experience-content {
        grid-template-rows: .25fr 5.5fr;
        grid-template-columns: 100%;
    }
    .experience p, .experience a {
        font-size: 1.2em;
    }
    ul.skill-list li {
        font-size: .9em;
    }
    .tabs-panel {
        font-size: .75em;
    }
    .tabs-panel .lbl:before {
        font-size: 14px;
    }
    .tabs-panel .lbl {
        margin-top: .25em;
        margin-bottom: .25em;
    }
    .tab-nav {
        padding: 0;
        font-size: .75em;
    }
    img.skill-icon {
        top: 0;
        right: 0;
        width: 90px;
    }
    .port>.port-list {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 1rem;
    }
    footer ul.footer-links li {
        display: block;
    }
    ul.skill-list {
        padding-top: 1em;
    }
    #skillset, #experience, #recent-work {
        font-size: 2em;
    }
    h3.company-name {
        font-size: 1.5em;
    }
    .tabs-title>a {
        font-size: .75em;
        padding: 1em 2em;
    }
    ul#experience-tabs {
        min-height: 500px;
    }
    ul#experience-tabs li h2 {
        line-height: 1em;
    }
    .languages h2, .tools h2, .cms h2 {
        font-size: 1.25em;
    }
    header .cell.info, header .cell.contact {
        padding: 0;
    }
    .port>.port-list>li>figure>.port-txt>h3 {
        font-size: 1.25em;
    }
    section.contact-form::before {
        content: none;
    }
    footer.grid-container-fluid {
        padding-bottom: 4em;
    }
    footer ul.footer-links li a {
        padding: .5em;
        font-size: 1em;
    }
    .experience .grid-x {
        background-color: var(--medium-color);
    }
    .tabs-panel {
        padding: 0;
    }
    .tab-nav {
        background: var(--medium-color);
        margin-bottom: 1em;
    }
    section>.grid-container {
        padding: 0 1.25em;
    }
}