@font-face {
    font-family: Montserrat-Black;
    src: url(./fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-BlackItalic;
    src: url(./fonts/Montserrat-BlackItalic.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(./fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-BoldItalic;
    src: url(./fonts/Montserrat-BoldItalic.ttf);
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(./fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: Montserrat-ExtraBoldItalic;
    src: url(./fonts/Montserrat-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(./fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: Montserrat-ExtraLightItalic;
    src: url(./fonts/Montserrat-ExtraLightItalic.ttf);
}

@font-face {
    font-family: Montserrat-Italic;
    src: url(./fonts/Montserrat-Italic.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(./fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat-LightItalic;
    src: url(./fonts/Montserrat-LightItalic.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-MediumItalic;
    src: url(./fonts/Montserrat-MediumItalic.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(./fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-SemiBoldItalic;
    src: url(./fonts/Montserrat-SemiBoldItalic.ttf);
}

@font-face {
    font-family: Montserrat-Thin;
    src: url(./fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: Montserrat-ThinItalic;
    src: url(./fonts/Montserrat-ThinItalic.ttf);
}

*, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat-Medium, sans-serif;
}

:root {
    --primary-color: #77f5ff;
    --h2-size: 2em;
    --h3-size: 1em;
    --section-margin: 50px 0 0 0;
}

body {
    background-color: #eeeeee;
}

:target::before {
    content: "";
    display: block;
    height: 80px;
    /* fixed header height*/
    margin: -80px 0 0;
    /* negative fixed header height */
}

/* Navigation */

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    display: none;
}

.top-bar .top-bar-left, .top-bar .top-bar-right {
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
    max-width: initial;
}

nav, .top-bar, .top-bar ul {
    background: unset;
    color: white;
    padding: unset;
}

nav {
    position: fixed;
    z-index: 999999;
    width: 100%;
}

nav {
    background: rgba(0, 0, 0, 1);
}

.menu .menu-text {
    font-weight: unset;
}

.menu .menu-text.site-title {
    font-size: 26px;
    padding: inherit;
}

.menu .menu-text.site-subtitle {
    line-height: 26px;
    color: var(--primary-color);
    text-transform: uppercase;
}

.menu .menu-text.site-title a {
    color: white;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a.menu-burger {
    color: white;
    padding-right: unset;
    padding: 1em;
    font-size: 22px;
}

/* Header */

header .cell.info, header .cell.contact {
    padding: 35px;
    font-size: 28px;
    position: relative;
}

header .cell.info {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

header .cell.info h1 {
    font-size: calc(35px + (49.8 - 18.48) * ((100vw - 640px) / (1920 - 640)));
}

header .cell.info em {
    color: var(--primary-color);
    font-style: unset;
}

header .cell.contact em {
    font-style: unset;
}

header .cell.contact {
    color: black;
    background-color: var(--primary-color);
}

header .arrow-right {
    display: block;
    background-color: var(--primary-color);
    width: 100px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
}

header .cell.contact .arrow-right {
    background-color: white;
}

header .arrow-right:after {
    content: '';
    background-image: url(./img/arrow-right.svg);
    background-repeat: no-repeat;
    width: 125px;
    height: 2em;
    display: block;
    position: absolute;
    right: 0;
    bottom: 2.5px;
}

.is-dropdown-submenu {
    border: none;
}

ul.menu.vertical.submenu.is-dropdown-submenu.first-sub {
    width: 100%;
    z-index: 9999;
    background: black;
    right: 0;
}

li.is-submenu-item.is-dropdown-submenu-item>a {
    color: white;
    font-size: var(--h3-size);
    padding: 1.5em;
    line-height: 1.5;
    border-bottom: 1px solid #222;
}

li.is-submenu-item.is-dropdown-submenu-item:last-child>a {
    border-bottom: none;
}

li.is-submenu-item.is-dropdown-submenu-item>a:hover {
    background: var(--primary-color);
    color: black;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a.menu-burger:hover {
    background: var(--primary-color);
}

.dropdown.menu>li.is-dropdown-submenu-parent>a.menu-burger:hover>svg>path {
    fill: black;
}

/* Sections */

section>h2, section>h3 {
    text-align: center;
}

section {
    padding: var(--section-margin);
    position: relative;
}

section>h2 {
    font-size: var(--h2-size);
    font-weight: 600;
    font-family: Montserrat-Bold, sans-serif;
    display: inline;
    margin: auto;
    font-size: 2.5em;
    line-height: 1;
}

section>h3 {
    font-size: var(--h3-size);
    text-transform: uppercase;
    color: #666666;
}

/* Curriculum Vitae */

.grid-container.main {
    background: white;
    padding: 0 2em;
    overflow: hidden;
}

.languages, .tools, .cms {
    background: white;
    position: relative;
    margin-top: 2em;
    padding: 2em;
    background: #dfffff;
    color: black;
}

.languages h2, .tools h2, .cms h2 {
    font-size: calc(var(--h2-size) * .65);
    width: calc(100% - 150px);
    line-height: 1.25;
    margin-bottom: 1em;
    font-weight: 600;
    font-family: Montserrat-Bold, sans-serif;
    padding-bottom: .5em;
}

img.skill-icon {
    position: absolute;
    opacity: 1;
    top: .5em;
    right: 1em;
    width: 120px;
}

ul.skill-list {
    font-size: 1em;
    columns: 2;
    -webkit-columns: 2;
    column-gap: 2em;
    font-weight: 300;
    padding-top: 1em;
}

/* Experience */

.experience .grid-x {
    background-color: #222222;
    margin-top: 2em;
}

ul#experience-tabs li h2 {
    color: white;
    font-size: 1em;
    line-height: 3em;
    padding: 1em 1.5em;
    margin: inherit;
}

ul#experience-tabs {
    background-color: #000000;
    border: none;
}

ul#experience-tabs {
    background-color: #000000;
    min-height: 700px;
}

.tabs-title>a {
    padding: 1em 1.5em;
    font-size: 1em;
    color: white;
    font-weight: 300;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    outline: none;
}

.tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
    background: #222;
    color: #fff;
    border-color: #222;
}

.tabs-title>a:hover {
    /* background: #fff;
    color: #000; */
    background: black;
    color: white;
    border-color: #333;
}

.tabs-title.is-active>a:hover {
    background-color: #222;
    color: #fff;
    border-color: #222;
}

.tabs-content, .tabs-content.vertical {
    background: none;
    border: none;
    color: white;
}

.tab-nav {
    padding: 1em 1.5em;
    background: #111111;
    color: #666666;
}

.tab-nav a {
    color: white;
    font-size: 1em;
    font-weight: 300;
    line-height: 3em;
    margin: 0 .5em;
}

.tabs-title a.note:after {
    content: '*';
    color: var(--primary-color);
    margin-left: 5px;
    vertical-align: super;
    font-size: xx-small;
}

.tabs-panel {
    padding: 2em;
}

p.lbl.dates {
    margin-top: 1em;
}

p {
    font-size: 1em;
}

.note-txt {
    color: #9b9b9b;
    padding: 1em 1.5em;
    background: #000;
    font-size: 85%;
    line-height: 3em;
}

.note-txt em {
    color: var(--primary-color);
    font-style: initial;
    vertical-align: super;
    font-size: xx-small;
}

.download-links {
    border-top: 2px solid #111111;
    color: white;
    text-align: right;
}

.download-links a {
    color: white;
    padding: 1.5em;
    display: inline-block;
}

.download-links a img {
    width: 2em;
}

.download-links a.doc-link {
    border-right: 2px solid #111111;
}

.experience-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 5.5fr .5fr;
    grid-template-areas: "." "." ".";
}

h3.company-name {
    margin-bottom: unset;
}

.tabs-panel .lbl {
    padding-left: 85px;
    position: relative;
    margin-bottom: 1.5em;
}

.tabs-panel .lbl a {
    color: var(--primary-color);
    text-decoration: underline;
    margin: 0 .5em;
}

.tabs-panel .lbl:before {
    content: '';
    position: absolute;
    left: 0;
    min-width: 65px;
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: right;
    color: #999;
    font-size: 85%;
    line-height: 2;
}

.lbl.dates:before {
    content: 'Dates:'
}

.lbl.status:before {
    content: 'Status:'
}

.lbl.job-title:before {
    content: 'Title:'
}

.lbl.duties:before {
    content: 'Duties:'
}

/* Video Background */

.video-bg {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    margin: inherit;
}

.video-bg .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black url('./img/blurred-video-backup.png') no-repeat center center/cover;
}

.video-bg .video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: grayscale(1);
}

.video-bg .video-container:after {
    content: '';
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
}

.video-bg:after {
    content: '';
    background: url(./img/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(90deg);
    filter: invert(1);
    z-index: 99999;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 3em;
}

.video-bg .content {
    z-index: 2;
}

/* Portfolio */

section.portfolio {
    padding-bottom: 2em;
}

div.port {
    margin-top: 2em;
}

.port>.port-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 200px);
    grid-gap: 2rem;
    grid-auto-flow: dense;
    list-style-type: none;
    margin-left: unset;
}

.port>.port-list>li {
    position: relative;
}

.port>.port-list>li>figure {
    height: 100%;
    background: #dfffff;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0);
}

.port>.port-list>li>figure>.port-txt {
    text-align: center;
    padding: 2em;
    color: black;
    position: relative;
    z-index: 999;
}

.port>.port-list>li>figure>.port-txt>h3 {
    font-size: 1.5em;
    line-height: 1.25;
}

.port>.port-list>li>figure>.port-txt>img.arrow {
    max-width: 75px;
    margin-top: 2em;
}

.port>.port-list>li:hover>figure {
    background: white;
    border: 2px solid rgba(0, 0, 0, 1);
    border: 2px solid var(--primary-color);
}

.port>.port-list>li:hover>figure a {
    color: black;
}

.port>.port-list>li:hover>figure a img.arrow {
    filter: inherit;
}

/* Footer */

footer.grid-container-fluid {
    display: block;
    background: black;
}

footer.grid-container-fluid>div {
    text-align: center;
}

footer ul.footer-links {
    margin: 0;
}

footer ul.footer-links li {
    display: inline-block;
    color: white;
}

footer ul.footer-links li a {
    padding: 1.5em 2em;
    display: block;
    font-size: 1.25em;
    color: #77f5ff;
}

footer.grid-container-fluid>div>p {
    color: white;
    margin: 0;
    text-align: center;
    padding: 0 0 1em 0;
}

@media screen and (max-width: 64em) {
    .grid-container.main {
        padding: 0 1em;
    }
    .tabs-panel .lbl {
        padding-left: 0;
    }
    .tabs-panel .lbl:before {
        position: relative;
        left: 0;
        min-width: 75px;
        color: var(--primary-color);
        text-transform: uppercase;
        text-align: left;
        margin-right: 10px;
    }
    .languages, .tools, .cms {
        padding: 1em;
        margin: .5em 1em;
    }
    .video-bg:after {
        width: 75px;
        height: 75px;
    }
    .experience-content {
        grid-template-rows: .5fr 5.5fr;
        grid-template-columns: 100%;
    }
    .tabs-panel .lbl:before {
        font-size: 14px;
    }
    img.skill-icon {
        top: 0;
        right: 0;
        width: 90px;
    }
}